.pai{
    display: flex;
    justify-content: center;
    text-align: center;
    color: aliceblue;

}

.página-principal{

    input- text{
        border-radius: 14px;
        width: 200px;
        height: 30px;
    }
    button{
        height: 20px;
        padding: auto;
        background-color: rgb(233, 58, 218);
    }
}